# Ignore the HELP.md file
HELP.md

# Ignore all target directories
chatApp/target/
!chatApp/.mvn/wrapper/maven-wrapper.jar
!chatApp/**/src/main/**/target/
!chatApp/**/src/test/**/target/

# Ignore application.properties (Sensitive Data)
chatApp/src/main/resources/application.properties

# Ignore IDE-specific files
chatApp/.apt_generated
chatApp/.classpath
chatApp/.factorypath
chatApp/.project
chatApp/.settings/
chatApp/.springBeans
chatApp/.sts4-cache

# IntelliJ IDEA
chatApp/.idea/
chatApp/*.iws
chatApp/*.iml
chatApp/*.ipr

# NetBeans
chatApp/nbproject/private/
chatApp/nbbuild/
chatApp/dist/
chatApp/nbdist/
chatApp/.nb-gradle/
chatApp/build/
!chatApp/**/src/main/**/build/
!chatApp/**/src/test/**/build/

# VS Code
chatApp/.vscode/
